<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <img id="logo" src="assets/imgs/header.png">
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card text-center>
        <p>Good day, {{driver.name}}</p>
    </ion-card>

    <ion-card text-center>
        <p>Your route today: </p>
        <p>{{route_name}}</p>
    </ion-card>

    <ion-card text-center>
<!--         <p style="font-size: 10px !important;">Current Latitude: {{locationTracker.lat}}</p>
        <p style="font-size: 10px !important;">Current Longitude: {{locationTracker.lng}}</p> -->
        <p>Start Tracking:</p>
        <div class="label yes_" *ngIf="trackingToggle">Tracking</div>
        <div class="label not_" *ngIf="!trackingToggle">Not Tracking</div>
        <ion-toggle class="tracking-toggle" text-center [(ngModel)]="trackingToggle" color="secondary" (ionChange)="checkTrackingSwitch()"></ion-toggle>
    </ion-card>

    <ion-card text-center>
        <p>Next Stop: {{next_stop.name}}</p>
        <button ion-button round color="danger" (click)="changeStop()">CHANGE NEXT STOP</button>
    </ion-card>

    <ion-card text-center>
        <p>Bus Condition: </p>
        <div class="label yes_" *ngIf="!busIsFullToggle">Not Full Yet</div>
        <div class="label not_" *ngIf="busIsFullToggle">FULL</div>
        <ion-toggle class="tracking-toggle" disabled = "{{disableIsFull}}" ng-true-value="Yes" text-center [(ngModel)]="busIsFullToggle" color="danger" (ionChange)="busIsFullSwitch()"></ion-toggle>
    </ion-card>
</ion-content>
